<div layout="column">
    <section layout="row" flex="">
        
        
        <company></company>
        
        
        
        <md-content flex="" layout-padding="">
            <md-button ng-link="company" class="md-primary md-hue-1">Create Company</md-button>
            <div>
                <md-button ng-click="detail.toggleLeft()" class="md-primary" hide-gt-md="">
                    View Companies
                </md-button>
            </div>
            <div layout="column" layout-fill="">

                <md-data-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row ng-class=" {'header' : true } ">
                                <th md-column md-order-by="nameToLower"><span>Location</span></th>                                
                                <th md-column md-order-by="nameToLower"><span>Name</span></th>
                                <th md-column md-order-by="nameToLower"><span>Quantity</span></th>
                                <th md-column md-order-by="nameToLower"><span>Phone</span></th>
                                <th md-column md-order-by="nameToLower"><span>Company Name</span></th>                                
                                <th md-column md-order-by="nameToLower"><span></span></th>
                                <th md-column md-order-by="nameToLower"><span></span></th>
                                <th md-column md-order-by="nameToLower"><span></span></th>
                                 <th md-column md-order-by="nameToLower"><span></span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="e in detail.Orders " ng-class=" {'pending-delete' : item.checked  } ">                                
                                
                            <tr  md-row ng-repeat="b in e"> 
                                <td md-cell> {{e}} </td> 
                             </tr>
                                
                                <!--<td md-cell> {{e.LocationName}} </td>
                                <td md-cell> {{e.Name}} </td>
                                <td md-cell> {{e.Quantity}} </td>
                                <td md-cell> {{e.phone}} </td>
                                  <td md-cell> {{e.companyName}} </td>
                                <td md-cell> {{detail.Orders.companyName}} </td>
                                <td md-cell>
                                    <a href="./Order/{{e.CompanyId}}/{{e.EmployeeId}}">View Order </a>
                                </td>
                                <td md-cell>                              
                                    <md-checkbox counter-click ng-model="item.checked" aria-label="Checkbox 1" > 00:{{count}} </md-checkbox>
                                </td>
                                   <td md-cell>                              
                                  </td>-->
                            </tr>
                          
                        </tbody>
                    </table>
                </md-data-table-container>

                <!--            
            <section layout="row" layout-wrap>
                
                
            <md-content>
            <md-list ng-repeat="d in detail.Orders " >                    
            <md-list-item class="md-2-line"  ng-repeat="e in d " >                
            {{e.LocationName}}
            {{e.Name}}
            {{e.Quantity}}
            </md-list-item>
            </md-list>     
            </md-content>
            
            
            
            </section>         -->
            </div>
        </md-content>
    </section>
</div>