<form  method="post">
    <section layout="column" layout-align="center center" layout-wrap>

        <md-input-container>
            <label>Email</label>
            <input ng-model="company.email" required="email" >
        </md-input-container>

        <md-input-container>
            <label>User Name</label>
            <input ng-model="company.CompanyName" >
        </md-input-container>


        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="company.password" >
        </md-input-container>


        <md-input-container>
            <label>Created By</label>
            <input ng-model="company.createdBy" >
        </md-input-container>


        <md-button ng-click="company.CreateCompany()" class="md-raised md-primary">Create</md-button>

        <!---->
        <!--<input type="text" ng-model="employee.email" />-->
        <!--<input type="text" ng-model="employee.userName" />-->
        <!--<input type="text" ng-model="employee.password" />-->
        <!--<input type="text" ng-model="employee.createdBy" value='12/12/2005' />-->
        <!--<button ng-click="employee.CreateEmployee()">Create</button>-->
    </section>
</form>
