
    <section layout="column" layout-align="center center" layout-wrap>
       <form  method="post" name="companyFom">
        <md-input-container>
            <label>Email</label>
            <input ng-model="company.email" required="email" type="email" required >
        </md-input-container>

        <md-input-container>
            <label>User Name</label>
            <input ng-model="company.CompanyName" required >
        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="company.password" required >
        </md-input-container>

        <md-input-container>
            <label>Created By</label>
            <input ng-model="company.createdBy" required>
        </md-input-container>

        <md-button ng-disabled="companyFom.$invalid || !companyFom.$dirty" ng-click="company.CreateCompany()" class="md-raised md-primary">Create</md-button>
         </form>
    </section>
