
    <section layout="row" layout-align="center center" layout-wrap>
        
<form  method="post" name="myFrmName" >
    
    <md-button choose-file-button="file-input" aria-label="xxx"
            class="md-fab" ng-click="">
    <md-icon md-svg-icon="components/employee/photo.svg"></md-icon>
 </md-button>

  <input style="display: none" id="file-input" type="file">
     
        <md-input-container>
            <label>Email</label>
            <input ng-model="employee.email"  type="email" required >
        </md-input-container>
     
                
        <md-input-container>
            <label>User Name</label>
            <input ng-model="employee.userName" required>
        </md-input-container>


        <md-input-container>
            <label>Password</label>
            <input ng-model="employee.password" type="password" required >
        </md-input-container>

  <md-input-container>
            <label>Phone</label>
            <input ng-model="employee.phone" type="number" required>
        </md-input-container>

        <md-input-container>
            <label>Created By</label>
            <input ng-model="employee.createdBy" >
        </md-input-container>

   <md-input-container>
            <md-button ng-disabled="myFrmName.$invalid || !myFrmName.$dirty" type="submit" ng-click="employee.CreateEmployee()"class="md-raised md-primary">Create</md-button>

        </md-input-container>
       
        <!---->
        <!--<input type="text" ng-model="employee.email" />-->
    <!--<input type="text" ng-model="employee.userName" />-->
    <!--<input type="text" ng-model="employee.password" />-->
    <!--<input type="text" ng-model="employee.createdBy" value='12/12/2005' />-->
    <!--<button ng-click="employee.CreateEmployee()">Create</button>-->
    </form>
        </section>

              
       
<md-data-table-container>
 <table md-table>     
  <thead md-head >
      <tr md-row ng-class=" {'header' : true } ">
        <th md-column md-order-by="nameToLower"><span>User Name</span></th>      
              <th md-column md-order-by="nameToLower"><span>Phone</span></th>              
              <th md-column md-order-by="nameToLower"><span></span></th>
      </tr>   
  </thead>        
  <tbody md-body>
   <tr md-row  ng-repeat=" d in  employee.data">
      <td md-cell>{{d.userName}}</td>
      <td md-cell>{{d.phone}}</td>  
       <td md-cell>   <a href="./Order/{{d.companyId}}/{{d._id}}" >View Order </a> </td>         
     </tr>
  </tbody>   
    </table>
</md-data-table-container>
       
              
 
<!--<p href="#"  ng-repeat="d in employee.data "  >-->
    <!--<a ng-link="employee({id : d._id })">{{d}}</a>-->
<!--</p>-->
    <!---->